.custom-default {
  #main {
    max-width: 80% !important;
  }
  .page {
    width: calc(100% - 70px) !important;
    padding-right: 40% !important;
  }
  .page__title {
    text-decoration-line: underline !important;
    font-size: 3.0em !important;
    font-weight: 1000 !important;
  }
  .page p {
    font-size: 1.7rem !important;
    line-height: 1.8em !important;
  }
  @media (max-width: 768px) {
    #main {
      max-width: 97% !important;
      margin-top: 7rem !important;
    }
    .page {
      width: 100% !important;
      padding-right: 0 !important;
    }
  }
}
