.custom-posts-list {
  .archive__item-title {
    margin-top: 2.5em !important;
    a {
      font-size: 1.2em !important;
      text-decoration: underline !important;
    }
  }
  .page__meta * { // Subitle
    font-size: 0.7em !important;
    color: mix($background-color, white, 40%) !important;
  }
  p.archive__item-excerpt {
    font-size: 0.8em !important;
    font-weight: 50 !important;
    color: mix($background-color, white, 40%) !important;
  }
  // Formatting buttons
  .pagination * {
    border: none !important;
  }
  .pagination .current {
    color: $primary-color !important;
    background-color: transparent !important;
  }
}
