.custom-experience {
  width: 105%;
  .experience__second__title {
    font-size: 1.2em;
    margin-top: -0.5em;
    padding-bottom: 2.5em;
  }
  .experience__element {
    position: relative;
    left: calc(-5%);
    width: 100%;
    display: flex;
    .experience__left {
      width: 10%;
      border-right: solid 2px white !important;
      img {
        position: relative;
        left: calc(50%);
        border: none;
        border-radius: 100%;
      }
    }
    &:last-child .experience__left {
      border-right: none !important;
    }
    .experience__right {
      width: 85%;
      padding: 0 0 10% 10%;
      .experience__title {
        font-size: 1em;
        font-weight: 500;
        text-decoration: underline;
      }
      .experience__subtitle {
        font-size: 0.85em;
        font-weight: 100;
      }
      .experience__excerpt {
        font-size: 0.85em;
        font-weight: 50;
        color: mix($background-color, white, 40%) !important;
      }
    }
  }
  .experience__cv {
    padding-top: 1.5em;
    a {
      text-decoration-line: none;
      font-size: 1.5em;
      font-weight: 900;
      padding: 0.6em 1.1em;
      border: solid 2px $primary-color;
      display: inline-block;
      transition: transform 0.2s ease;
      &:hover {
        text-decoration-line: none !important;
        transform: translateY(10px);
      }
    }
  }
}
