---
search: false
---

@charset "utf-8";
// FONTS
$serif              : "Roboto Mono", "PT Serif", serif;
$sans-serif-narrow  : "Roboto Mono", "PT Serif", serif;
$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

// COLORS
$custom-secondary-color: #8BEFC3;
$text-color: white !default;
$primary-color: #2AFEA2 !default;
$background-color: #131313 !default;

$footer-background-color: black !default;
$border-color: $background-color !default;

$link-color: $text-color !default;
$link-color-visited: $link-color !default;
$link-color-hover: $primary-color !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: $primary-color !default;

// STYLE
// Menu
#main {
  margin-top: 5rem !important;
}
.masthead {
  right: 0;
  left: 0;
  position: fixed !important;
  min-height: 5rem !important;
  background-image: linear-gradient(#131313FF 0%, #131313CC 60%, #13131300 100%) !important;
  border: none !important;
  * {
    background-color: transparent !important;
  }
}
.masthead__inner-wrap {
  max-width: 100% !important;
  padding: 1em 2em !important;
  .greedy-nav {
    a {
      font-weight: 800 !important;
      transition: color 0.2s !important;
      &:hover:before {
        -webkit-transform: scaleX(0) translate3d(0, 0, 0) !important;
        -ms-transform: scaleX(0) translate3d(0, 0, 0) !important;
        transform: scaleX(0) translate3d(0, 0, 0) !important;
      }
    }
    .site-title {
      margin-right: 4.5rem !important;
      position: fixed !important;
    }
    .visible-links {
      justify-content: flex-start !important;
      padding-left: 8rem;
    }
  }
}

.custom-home {
  height: calc(100vh - 3em);
  display: flex;
  align-items: center;
  .custom-home-wrap {
    font-size: 2.6rem !important;
    padding-bottom: 3em;
    margin: auto;
  }
}

.custom-default {
  #main {
    max-width: 80% !important;
  }
  .page {
    width: calc(100% - 70px) !important;
    padding-right: 40% !important;
  }
  .page__title {
    text-decoration-line: underline !important;
    font-size: 3.0em !important;
    font-weight: 1000 !important;
  }
  .page p {
    font-size: 1.7rem !important;
    line-height: 1.8em !important;
  }
}

.custom-posts-list {
  .archive__item-title {
    margin-top: 2.5em !important;
    a {
      font-size: 1.2em !important;
      text-decoration-line: none !important;
    }
  }
  .page__meta * { // Subitle
    font-size: 0.7em !important;
    color: mix($background-color, white, 40%) !important;
  }
  p.archive__item-excerpt {
    font-size: 1em !important;
    color: mix($background-color, white, 40%) !important;
  }
  // Formatting buttons
  .pagination * {
    border: none !important;
  }
  .pagination .current {
    color: $primary-color !important;
    background-color: transparent !important;
  }
}


.page__footer a:hover {
  color: $primary-color !important;
}

// Syntax highlighting
$base00: #282936;
$base01: #3a3c4e;
$base02: #4d4f68;
$base03: #626483;
$base04: #62d6e8;
$base05: #e9e9f4;
$base06: #f1f2f8;
$base07: #f7f7fb;
$base08: #ea51b2;
$base09: #b45bcf;
$base0a: #00f769;
$base0b: #ebff87;
$base0c: #a1efe4;
$base0d: #62d6e8;
$base0e: #b45bcf;
$base0f: #00f769;

::-moz-selection {
  color: $background-color !important;
  background: $primary-color !important;
}

::selection {
  color: $background-color !important;
  background: $primary-color !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
