---
search: false
---

@charset "utf-8";
// FONTS
$serif              : "Roboto Mono", "PT Serif", serif;
$sans-serif-narrow  : "Roboto Mono", "PT Serif", serif;
$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

// COLORS
$custom-secondary-color: #8BEFC3;
$text-color: white !default;
$primary-color: #2AFEA2 !default;
$background-color: #131313 !default;

$footer-background-color: black !default;
$border-color: $background-color !default;

$link-color: $text-color !default;
$link-color-visited: $link-color !default;
$link-color-hover: $primary-color !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $primary-color !default;
$navicon-link-color-hover: $primary-color !default;

.page__footer a:hover {
  color: $primary-color !important;
}

::-moz-selection {
  color: $background-color !important;
  background: $primary-color !important;
}

::selection {
  color: $background-color !important;
  background: $primary-color !important;
}

@import "custom-syntax";
@import "custom-masthead";
@import "custom-default";
@import "custom-home";
@import "custom-posts-list";
@import "custom-post";
@import "custom-contact";
@import "custom-experience";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
